.banner {

  padding: 140px 0;
  background-image: url(../images/banner/bunner_img_png.png),
    url(../images/banner/banner_shadow_png.png);

  background-repeat: no-repeat;
  background-position: 80% 85%, 75% 87%;
  background-size: contain, 300px;
  // height: 650px;
    width: 1600px;
  background-color: #f8edf0;

}


.banner__title {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.11;
  color: var(--third-text-color);
  margin-bottom: 27px;
  width: 335px;
}
.banner__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #150101;
  opacity: 0.6;
  margin-bottom: 27px;
  width: 435px;
}
.bunner__btn {
  width: 165px;
  height: 49px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bunner__btn:hover,
.bunner__btn:focus {
  background-color: var(--accent-background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
