.food {
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: rgb(253, 91, 91);
}
.food__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  letter-spacing: 0.01em;
  color: var(--white-text-color);
  opacity: 0.7;
}
.text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--white-text-color);
  opacity: 0.7;
}
