.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.product__header {
  font-family: $secondaryFont;
  font-weight: 600;
  font-size: 44.2px;
  line-height: calc(61 / 44.2);
  color: var(--third-text-color);
  text-align: center;
  margin-bottom: 64px;
}
.filter-list .current {
  font-family: $mainFont;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--primary-text-color);
  border-bottom: 3px solid var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  & li + li {
    margin-left: 40px;
  }
}

.filter__btn {
  background-color: transparent;
  border: none;
  font-family: $mainFont;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--primary-text-color);
  opacity: 0.6;
  text-transform: uppercase;
  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prod__list li + li {
  margin-top: 30px;
}
.prod__card {
  width: 454px;
}
.prod__name {
  font-family: $secondaryFont;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(36 / 26);
  color: var(--primary-text-color);
  margin-bottom: 11px;
}
.prod__description {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--primary-text-color);
  opacity: 0.7;
  margin-bottom: 28px;
}
.price {
  font-family: $secondaryFont;
  font-weight: 500;
  font-size: 26px;
  line-height: calc(36 / 26);
  color: var(--primary-text-color);

  margin-bottom: 16px;
}
.price::after {
  content: '$22.55';
  font-family: $secondaryFont;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-decoration-line: line-through;
  color: var(--primary-text-color);
  opacity: 0.7;
  margin-left: 10px;
}
.buy-btn {
  width: 165px;
  height: 49px;
  background: var(--accent-color);
  border-radius: 5px;
  border-color: transparent;
  font-family: $mainFont;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: #fafafa;
}
