@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-text-color: #000000;
  --secondary-text-color: #0f0101;
  --third-text-color: #150101;
  --white-text-color: #ffffff;
  --accent-color: #d23166;
  --primary-background-color: #ffffff;
  --secondary-background-color: #0a0808;
  --accent-background-color: #f2ceda;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  width: 100vw;
  background-color: var(--accent-background-color);
}

.header-container {
  width: 1125px;
  height: 79px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__item {
  display: block;
  text-align: center;
  width: 250px;
  height: 200px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  background-color: var(--primary-background-color);
}

.advantage__item + .advantage__item {
  margin-left: 40px;
  margin-right: 0px;
}

.advantage__item::before {
  content: '';
  display: block;
  height: 80px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--primary-background-color);
  padding-right: 0;
}

.icon-bus::before {
  background-size: 52px 44px;
  background-image: url(../images/svg/icon-bus.svg);
}

.icon-cup::before {
  background-size: 32px 42px;
  background-image: url(../images/svg/icon-cup.svg);
}

.icon-money::before {
  background-size: 44px 44px;
  background-image: url(../images/svg/icon-money.svg);
}

.icon-delivery::before {
  background-size: 54px 54px;
  background-image: url(../images/svg/icon-delivery.svg);
}

.advantages__title {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.38;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 0px;
}

.advantages__text {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 28px;
  padding-left: 26px;
  padding-right: 26px;
}

.banner {
  max-width: 1600px;
  padding: 140px 0;
  background-image: url(../images/svg/bunner_img_png.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  height: 650px;
  background-color: #f8edf0;
}

.banner__title {
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.11;
  color: var(--third-text-color);
  margin-bottom: 27px;
  width: 335px;
}

.banner__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #150101;
  opacity: 0.6;
  margin-bottom: 27px;
  width: 435px;
}

.bunner__btn {
  width: 165px;
  height: 49px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bunner__btn:hover,
.bunner__btn:focus {
  background-color: var(--accent-background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.product__header {
  font-family: "Hind Madurai";
  font-weight: 600;
  font-size: 44.2px;
  line-height: calc(61 / 44.2);
  color: var(--third-text-color);
  text-align: center;
  margin-bottom: 64px;
}

.filter-list .current {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--primary-text-color);
  border-bottom: 3px solid var(--accent-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list li + li {
  margin-left: 40px;
}

.filter__btn {
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--primary-text-color);
  opacity: 0.6;
  text-transform: uppercase;
}

.filter__btn:active, .filter__btn:focus, .filter__btn:hover {
  opacity: 1;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod__list li + li {
  margin-top: 30px;
}

.prod__card {
  width: 454px;
}

.prod__name {
  font-family: "Hind Madurai";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(36 / 26);
  color: var(--primary-text-color);
  margin-bottom: 11px;
}

.prod__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--primary-text-color);
  opacity: 0.7;
  margin-bottom: 28px;
}

.price {
  font-family: "Hind Madurai";
  font-weight: 500;
  font-size: 26px;
  line-height: calc(36 / 26);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.price::after {
  content: '$22.55';
  font-family: "Hind Madurai";
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--primary-text-color);
  opacity: 0.7;
  margin-left: 10px;
}

.buy-btn {
  width: 165px;
  height: 49px;
  background: var(--accent-color);
  border-radius: 5px;
  border-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: #fafafa;
}

.questions {
  padding-top: 191px;
  padding-bottom: 231px;
}

.questions__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: calc(52 / 44);
  text-align: center;
  color: #000000;
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

.questions__input-button {
  width: 503px;
  height: 74px;
  padding-left: 30px;
  background: #FAFAFA;
  border-radius: 5px;
  border: none;
  color: #0F0000;
  opacity: 0.6;
  cursor: pointer;
}

.questions__button {
  width: 134px;
  height: 74px;
  background: #D64374;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 /20);
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */