$mainFont: 'Roboto';
$secondaryFont: 'Hind Madurai';
$accentFont: 'Fredoka One';

// font-family: 'Fredoka One', cursive;
// font-family: 'Hind Madurai', sans-serif;
// font-family: 'Roboto', sans-serif;

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #0f0101;
  --third-text-color: #150101;
  --white-text-color: #ffffff;

  --accent-color: #d23166;

  --primary-background-color: #ffffff;
  --secondary-background-color: #0a0808;
  --accent-background-color: #f2ceda;
}
