<section class="advantages">
    <div class="container">
        <ul class="advantages__list">
            <li class="advantage__item icon-bus">
                <h2 class="advantages__title">Free Shipping</h2>
                <p class="advantages__text">
                    Last Chance! Free shipping on all orders ends today.
                </p>
            </li>
            <li class="advantage__item icon-cup">
                <h2 class="advantages__title">Quick Packaging</h2>
                <p class="advantages__text">
                    Last Chance! Free shipping on all orders ends today.
                </p>
            </li>
            <li class="advantage__item icon-money">
                <h2 class="advantages__title">100% Money Back</h2>
                <p class="advantages__text">
                    Last Chance! Free shipping on all orders ends today.
                </p>
            </li>
            <li class="advantage__item icon-delivery">
                <h2 class="advantages__title">Fast Delivery</h2>
                <p class="advantages__text">
                    Last Chance! Free shipping on all orders ends today.
                </p>
            </li>
        </ul>
    </div>
</section>