<footer class="container">
    <div class="food">

        <div>
            <img src="./images/foot/images-removebg-preview2.png" alt="logo" width="79" height="79">
            <p class="food__text">Some food has looked so awful that <br> it's looked like something that the <br> dog's
                brought home.</p>
            <h4>Fllow Us</h4>
            <ul>
                <li>
                    <a href="">
                        <img src="./images/foot/facebook1.svg" alt="facebook" width="15" height="15">
                    </a>
                </li>
                <li>
                    <a href=""><img src="./images/foot/twitter1.svg" alt="twitter" width="15" height="15"></a>

                </li>
                <li>
                    <a href=""><img src="./images/foot/instagram1.svg" alt="instagram" width="15" height="15"></a>

                </li>
                <li>
                    <a href=""><img src="./images/foot/linkedin1.svg" alt="linkedin" width="15" height="15"></a>

                </li>
            </ul>
        </div>
        <div>
            <h4>Home</h4>
            <ul>
                <li class="text">Product</li>
                <li class="text">Blog</li>
                <li class="text">Pricing</li>
                <li class="text">Testimonials</li>
                <li class="text">Contact Us</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="text">Delivery Information</li>
                <li class="text">Privacy Policy</li>
                <li class="text">Terms & Condition</li>
                <li class="text">Search Terms</li>
                <li class="text">Order & Return</li>
            </ul>
        </div>
        <div>
            <h3>Newsletter</h3>
            <label for="email" class=""></label>
            <input class="" type="email" name="email" id="email" placeholder="Your Email">
            <button type="submit">Subscribe</button>
            <ul>
                <li>
                    <a href=""><img src="./images/foot/Group.svg" alt="Group"></a>
                </li>
                <li>
                    <a href=""><img src="./images/foot/master-card.svg" alt="master-card"></a>
                </li>
                <li>
                    <a href=""><img src="./images/foot/visa.svg" alt="visa"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>