<footer class="footer">
    <div class="container food">
        <div class="food-social">
            <img class="food-social__logo" src="./images/foot/images-removebg-preview2.png" alt="logo" width="79"
                height="79">
            <p class="food-social__text">Some food has looked so awful that <br> it's looked like something that the
                <br> dog's
                brought home.
            </p>
            <h4 class="heading-social">Fllow Us</h4>
            <ul class="food-social__list">
                <li class="food-social__element">
                    <a href="">
                        <img src="./images/foot/facebook1.svg" alt="facebook" width="15" height="15">
                    </a>
                </li>
                <li class="food-social__element">
                    <a href=""><img src=" ./images/foot/twitter1.svg" alt="twitter" width="15" height="15"></a>

                </li>
                <li class="food-social__element">
                    <a href=""><img src=" ./images/foot/instagram1.svg" alt="instagram" width="15" height="15"></a>

                </li>
                <li class="food-social__element">
                    <a href=""><img src=" ./images/foot/linkedin1.svg" alt="linkedin" width="15" height="15"></a>

                </li>
            </ul>
        </div>
        <div class="food-home">
            <h4 class="food-home__title">Home</h4>
            <ul class="food-home__list">
                <li class="food-home__element  text">Product</li>
                <li class="food-home__element  text">Blog</li>
                <li class="food-home__element  text">Pricing</li>
                <li class="food-home__element  text">Testimonials</li>
                <li class="food-home__element  text">Contact Us</li>
            </ul>
        </div>
        <div class="information">
            <ul class="information__list">
                <li class="information__element text">Delivery Information</li>
                <li class="information__element text">Privacy Policy</li>
                <li class="information__element text">Terms & Condition</li>
                <li class="information__element text">Search Terms</li>
                <li class="information__element text">Order & Return</li>
            </ul>
        </div>
        <div class="newsletter">
            <h3 class="newsletter__title">Newsletter</h3>
            <div class="position">
                <label for="email" class=""></label>
                <input class="newsletter__form" type="email" name="email" id="email" placeholder="Your Email">
                <button class="newsletter__button" type="submit">Subscribe</button>
            </div>
            <ul class="newsletter__list">
                <li class="newsletter__element">
                    <a href=""><img src="./images/foot/Group.svg" alt="Group"></a>
                </li>
                <li class="newsletter__element">
                    <a href=""><img src="./images/foot/master-card.svg" alt="master-card"></a>
                </li>
                <li class="newsletter__element">
                    <a href=""><img src="./images/foot/visa.svg" alt="visa"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>