<header class="header">
    <div class="container header-container">
        <a class="link logo header-logo" href="./">
            <img src="./images/logo/images-removebg-preview 1.png">
        </a>
        <nav class="header-nav">
            <ul class="list header-list">
                <li class="header-item">
                    <a class="link header-link current" href="">Home</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Product</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Pricing</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Testimonials</a>
                </li>
                <li class="header-item">
                    <a class="link header-link" href="">Contact Us</a>
                </li>
            </ul>
        </nav>
        <button class="btn header-btn">Buy Now</button>
    </div>
</header>