<section class="product">
    <div class="container">
        <h2 class="product__header">Our Product</h2>
        <ul class='filter-list'>
            <li class="current"> <button type="button" class="filter__btn">ice cream</button></li>
            <li><button type="button" class="filter__btn">cayenne chocolate</button> </li>
            <li><button type="button" class="filter__btn">cake batter</button> </li>
            <li><button type="button" class="filter__btn">candy cane</button> </li>
            <li> <button type="button" class="filter__btn">platters</button> </li>
            <li><button type="button" class="filter__btn">dessert</button> </li>
        </ul>
        <ul class="prod__list">
            <li>
                <article><img src="./images/product/product1.jpg" width="580 px">
                    <div class="prod__card">
                        <h3 class='prod__name'>Brown bread</h3>
                        <p class="prod__description">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain
                            is a pioneer in the healthy fast food
                            scene.Bon Au
                            Pain is a pioneer in the healthy fast food scene.</p>
                        <p class="price">$19.55</p><button type="button" class="buy-btn">Buy Now</button>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <div class="prod__card">
                        <h3 class='prod__name'>Cayenne chocolate</h3>
                        <p class="prod__description">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain
                            is a pioneer in the healthy fast food
                            scene.Bon Au
                            Pain is a pioneer in the healthy fast food scene.</p>
                        <p class="price">$19.55</p><button type="button" class="buy-btn">Buy Now</button>
                    </div><img src="./images/product/product2.jpg" width="580 px">
                </article>
            </li>
            <li>
                <article><img src="./images/product/product3.jpg" width="580 px">
                    <div class="prod__card">
                        <h3 class='prod__name'>Sweet corn</h3>
                        <p class="prod__description">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain
                            is a pioneer in the healthy fast food scene.Bon Au
                            Pain is a pioneer in the healthy fast food scene.</p>
                        <p class="price">$19.55</p><button type="button" class="buy-btn">Buy Now</button>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>