<section>
    <div class="container reviews">
        <div class="positions">
            <div class="founder">
                <img class="founder__images" src="./images/reviews-img/Ellipse.jpg" alt="" width="59px" height="58px">
                <div class="founder__position">
                    <h3 class="founder__name">Adele A. McNeill</h3>
                    <p class="founder__nationality">AMIRICAN</p>
                </div>
            </div>
            <div class="review">
                <p class="review__paragraph icon">Thanks a lot for the prompt service. Really appreciate.
                    Excellence
                    taste in Every Bite.Add
                    a joy
                    of
                    best Taste. Foodie Moments.</p>
                <ul class="review__list">
                    <li class="review__element">
                        <img src="./images/reviews-img/Vector1.svg" alt="">
                    </li>
                    <li class="review__element">
                        <img src="./images/reviews-img/boy.jpg" alt="">
                    </li>
                    <li class="review__element">
                        <img src="./images/reviews-img/Ellipse.jpg" alt="">
                    </li>
                    <li class="review__element">
                        <img src="./images/reviews-img/girl.jpg" alt="">
                    </li>
                    <li class="review__element">
                        <img src="./images/reviews-img/Vector2.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="position-img">
            <img src="./images/reviews-img/removebg-preview.jpg" alt="" width="544px" height="442px">
        </div>
    </div>
</section>